$primary: rgb(52, 88, 185);
$primaryLight: rgb(135, 168, 228);
$primaryDark: rgb(23, 50, 102);

$phone: 530px;
$tablet: 800px;

body {
  margin: 0;
  overflow-x: hidden;
  font-family: cursive;
}

#app {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

//navbar:
.navbar {
  background: $primaryLight;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  z-index: 10;
}

.navbar__content {
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  font-family: sans-serif;

  span,
  h1 {
    transition: 0.4s all;
    color: white;
    margin: 0;
    cursor: pointer;
  }

  @media only screen and (max-width: $phone) {
    font-size: 1.2em;
  }
}

.title {
  &:hover {
    transform: scale(1.1);
    letter-spacing: 1.5px;
  }
}

.navbar__cart {
  &:hover {
    color: $primaryDark;
  }
}

//searcher:
.search {
  width: 80%;
  max-width: 1000px;
  height: fit-content;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 10px 50px;
  margin: 20px auto;

  label {
    font-size: 1.5em;
    margin: 0 20px 20px 0;
  }

  input {
    border: 1px solid $primaryLight;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 20px 20px 0;
    font-size: 1em;

    &:hover {
      border: 1px solid $primaryDark;
    }
  }
}

.clear__button {
  border-radius: 5px;
  box-shadow: 0 0 4px $primary;
  padding: 8px 12px;
  margin: 0 auto 50px;
  border: 1px solid $primary;
  transition: 0.4s all;
  font-weight: 700;
  color: $primary;
  background: white;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background: $primaryLight;
    color: white;
    transform: scale(0.95);
  }
}

//movies page:
.home,
.cart {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.error__message {
  color: tomato;
}

.movies__container {
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 80%;
  max-width: 1000px;
  padding: 50px;
  margin: 20px auto;
  display: flex;
  flex-flow: wrap;
}

.movie {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px 12px;
  width: 18%;
  margin: 20px;
  transition: 0.4s all ease;
  &:hover {
    box-shadow: 0 0 12px 2px gray;
    .movie__more {
      opacity: 1;
    }
  }
  @media only screen and (max-width: $tablet) {
    width: 35%;
  }
  @media only screen and (max-width: $phone) {
    width: 100%;
  }
}

.movie__title {
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  color: $primaryDark;
}

.movie__text {
  font-size: 0.9;
}

.movie__image {
  width: 100%;
}

.movie__more {
  color: $primary;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s all ease;
  &:hover {
    font-size: 0.95em;
  }
}

.lni-cart {
  cursor: pointer;
  font-size: 2em;
  transition: 0.4s all ease;
  text-shadow: 3px 3px 5px $primaryDark;
  &:hover {
    font-size: 1.8em;
    color: $primaryLight;
  }
}

.in__cart {
  color: $primaryDark;
}
.not__in__cart {
  color: gray;
}

//movie detail dialog:
.background__movie__detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(10, 10, 10, 0.86);
  display: flex;
  justify-content: center;
  z-index: 11;
}
.dialog__movie__detail {
  position: relative;
  background: white;
  border-radius: 5px;
  border: 1px solid gray;
  width: 60%;
  max-width: 550px;
  height: fit-content;
  padding: 50px 30px;
  top: 25vh;

  @media only screen and (max-width: $phone) {
    width: 90%;
  }
}

.close__button {
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border: 1px solid gray;
  border-top-right-radius: 5px;
  padding: 8px 12px;
  background: white;
  cursor: pointer;
  font-weight: 700;
  transition: 0.4s all ease;

  &:hover {
    background: $primaryLight;
    color: white;
  }
}

.movie__details__image {
  width: 80%;
}

//cart page:
.cart__title {
  color: $primary;
}

//footer:
.footer {
  background: $primaryLight;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  font-size: 1em;
  font-family: sans-serif;
  z-index: 10;

  a {
    text-decoration: none;
    color: white;
    transition: 0.4s all;
    &:hover {
      color: $primaryDark;
    }
  }
}

.footer__content {
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  font-family: sans-serif;
}

.footer__social {
  list-style: none;
}

// -----------------------------------------------------------------------------

//SPINNER:
.spinner {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primaryLight;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
